{% extends "index.html" %}
{% block title %}Sign In | {{ super() }}{% endblock %}
{% block current_page %}Sign In{% endblock %}

{% block content %}
    <div class="col-lg-4 col-lg-offset-4 text-center">
        <form class="form-signin" action="/validateLogin" method="post">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
           
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
        </form>
    </div>
{% endblock %}
