{% extends "index.html" %}
{% block title %}Sign Up | {{ super() }}{% endblock %}
{% block current_page %}Sign Up{% endblock %}

{% block content %}
    <div class="col-lg-4 col-lg-offset-4 text-center">
        <form class="form-signin">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
           
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

            <label for="inputAge" class="sr-only">Age</label>
            <input type="age" name="inputAge" id="inputAge" class="form-control" placeholder="Age" required>

            <label for="inputGender" class="sr-only">Gender</label>
            <input type="gender" name="inputGender" id="inputGender" class="form-control" placeholder="Gender" required>
            <br>
            <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}