<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{% block title %}BudgetBuilder{% endblock %}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            {% include "userNav.html" %}
        </div>
        <div class="container">
            {% include "flash.html" %}
        </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="content">
        <h4>Username: {{username}}</h4>
    </div>
    <div class="content">
        <h4>Incomes</h4>
        {% for incomes_dict in incomes_list %}
        <p>{{incomes_dict}}</p>
        {% endfor %}
    </div>
    <div class="content">
        <h4>Purchases</h4>
        {% for purchases_dict in purchases_list %}
        <p>{{purchases_dict}}</p>
        {% endfor %}
    </div>
        <div class="content">
        <h4>Budgets</h4>
        {% for budgets_dict in budgets_list %}
        <p>{{budgets_dict}}</p>
        {% endfor %}
    </div>

</body>
 
</html>